<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="footerScripts">

        <!-- REQUIRED SCRIPTS -->
        <!-- jQuery -->
        <script type="text/javascript" src="/static/vendor/adminlte/plugins/jquery/jquery.min.js" th:src="@{vendor/adminlte/plugins/jquery/jquery.min.js}"></script>

        <!-- Bootstrap -->
        <script type="text/javascript" src="/static/vendor/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js" th:src="@{vendor/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- overlayScrollbars -->
        <script type="text/javascript" src="/static/vendor/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js" th:src="@{vendor/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>

        <!-- AdminLTE App -->
        <script type="text/javascript" src="/static/vendor/adminlte/dist/js/adminlte.js" th:src="@{vendor/adminlte/dist/js/adminlte.js}"></script>


        <!-- OPTIONAL SCRIPTS -->
        <script type="text/javascript" src="/static/vendor/adminlte/dist/js/demo.js" th:src="@{vendor/adminlte/dist/js/demo.js}"></script>


        <!-- PAGE PLUGINS -->
        <!-- jQuery Mapael -->
        <script type="text/javascript" src="/static/vendor/adminlte/plugins/jquery-mousewheel/jquery.mousewheel.js" th:src="@{vendor/adminlte/plugins/jquery-mousewheel/jquery.mousewheel.js}"></script>
        <script type="text/javascript" src="/static/vendor/adminlte/plugins/raphael/raphael.min.js" th:src="@{vendor/adminlte/plugins/raphael/raphael.min.js}"></script>
        <script type="text/javascript" src="/static/vendor/adminlte/plugins/jquery-mapael/jquery.mapael.min.js" th:src="@{vendor/adminlte/plugins/jquery-mapael/jquery.mapael.min.js}"></script>
        <script type="text/javascript" src="/static/vendor/adminlte/plugins/jquery-mapael/maps/usa_states.min.js" th:src="@{vendor/adminlte/plugins/jquery-mapael/maps/usa_states.min.js}"></script>

        <!-- ChartJS -->
        <script type="text/javascript" src="/static/vendor/adminlte/plugins/chart.js/Chart.min.js" th:src="@{vendor/adminlte/plugins/chart.js/Chart.min.js}"></script>


    </div>

</html>
