<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--suppress CheckTagEmptyBody, HtmlUnknownTag -->
    <!--alternative solution to use th:block in header fragment, HtmlUnknownTag, HtmlUnknownTag -->
    <th:block th:include="/layouts/_head :: head"></th:block>
    <title id="pageTitle">Technician</title>
    <!-- PAGE STYLES -->
    <link rel="stylesheet" href="/static/css/application.css" th:href="@{/css/application.css}">
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <!-- Navbar -->
    <div th:replace="/layouts/_header :: header"></div>

    <!-- Main Sidebar Container -->
    <div th:insert="/layouts/_mainSidebarx :: mainSidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Technicians</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Technician</a></li>
                            <li class="breadcrumb-item active">Create</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">



                <!-- Horizontal Form -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Add</h3>
                        &nbsp;&nbsp;
                        <a href="/user/index" th:href="@{/techuser/index}" class=""><i class="fas fa-long-arrow-alt-left"></i> Back to List</a>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="#" th:action="@{/techuser/save}" th:object="${user}" method="post" class="form-horizontal">
                        <div class="card-body">

                            <input type="hidden" id="id" th:field="*{id}">

                            <div class="form-group row">
                                <label for="username" class="col-form-label col-sm-2 ">Username</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{username}" class="form-control" id="username" placeholder="" />
                                </div>
                                <div class="col-sm-5"><span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span></div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-form-label col-sm-2 ">Password</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="" />
                                </div>
                                <div class="col-sm-5"><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span></div>
                            </div>

                            <div class="form-group row">
                                <label for="displayName" class="col-form-label col-sm-2 ">Display Name</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{displayName}" class="form-control" id="displayName" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="userType" class="col-form-label col-sm-2 ">User Type</label>
                                <div class="col-sm-5">
<!--                                    <input type="text" th:field="*{userType}" class="form-control" id="userType" placeholder="" />-->
                                    <select name="userType" class="form-control" id="userType">
                                        <option value="User"> User </option>
                                        <option value="Technician" selected> Technician </option>
                                        <option value="Admin"> Admin </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="phoneNumber" class="col-form-label col-sm-2 ">Phone Number</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{phoneNumber}" class="form-control" id="phoneNumber" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-form-label col-sm-2 ">Email</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="fullAddress" class="col-form-label col-sm-2 ">Full Address</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{fullAddress}" class="form-control" id="fullAddress" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="expertiseArea" class="col-form-label col-sm-2 ">Expertise Area</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{expertiseArea}" class="form-control" id="expertiseArea" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="rating" class="col-form-label col-sm-2 ">Rating</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{rating}" class="form-control" id="rating" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="registrationDate" class="col-form-label col-sm-2 ">Registration Date</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{registrationDate}" class="form-control" id="registrationDate" placeholder="" />
                                </div>
                            </div>

                           <!--
                           <div class="form-group row">
                                <label for="isApproved" class="col-form-label col-sm-2 ">Is Approved</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{isApproved}" class="form-control" id="isApproved" placeholder="" />
                                </div>
                            </div>-->
                            <div class="form-group row">
                                <label for="isApproved" class="col-form-label col-sm-2 ">Is Approved</label>
                                <div class="col-sm-5">
                                    <input type="checkbox" name="isApproved" th:checked="*{isApproved}" id="isApproved" th:value="*{isApproved}" onclick="this.value = this.checked" class="form-control"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="approvalDate" class="col-form-label col-sm-2 ">Approval Date</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{approvalDate}" class="form-control" id="approvalDate" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="enabled" class="col-form-label col-sm-2 ">Active</label>
                                <div class="col-sm-5">
                                    <input type="checkbox" name="enabled" th:value="true" id="enabled" checked onclick="this.value = this.checked" class="form-control"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="deviceType" class="col-form-label col-sm-2 ">Device Type</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{deviceType}" class="form-control" id="deviceType" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="deviceToken" class="col-form-label col-sm-2 ">Device Token</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{deviceToken}" class="form-control" id="deviceToken" placeholder="" />
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <a href="/user/index" th:href="@{/techuser/index}" class="btn btn-default"><i class="fas fa-times"></i> Cancel</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-info"><i class="fas fa-check"></i> Create</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
                <!-- /.card -->




            </div><!--/. container-fluid -->
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<footer th:include="layouts/_footer :: footer" class="main-footer"></footer>

</div>
<!-- ./wrapper -->


<div th:include="layouts/_footerScripts :: footerScripts"></div>
<!-- PAGE SCRIPTS -->
<script type="text/javascript" src="/static/js/application.js" th:src="@{/js/application.js}"></script>


</body>
</html>